@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
}

.root3d {
  height: 100vh;
  position: relative;
}

@font-face {
  font-family: "SpaceGrotesk-Bold";
  src: url("./assets/fonts/spacegrotesk-bold.otf") format("truetype");
}

@font-face {
  font-family: "SpaceGrotesk-SemiBold";
  src: url("./assets/fonts/spacegrotesk-semibold.otf") format("truetype");
}

@font-face {
  font-family: "SpaceGrotesk-Regular";
  src: url("./assets/fonts/spacegrotesk-regular.otf") format("truetype");
}

@font-face {
  font-family: "SpaceGrotesk-Light";
  src: url("./assets/fonts/spacegrotesk-light.otf") format("truetype");
}

@font-face {
  font-family: "SpaceGrotesk-Medium";
  src: url("./assets/fonts/spacegrotesk-medium.otf") format("truetype");
}
